<template>
  <div id="preloader">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
export default { name: "Preloader" };
</script>

<style scoped>
@import url("../css/preloader.css");
</style>
