body {
  background-color: #111;
  color: #d2f8ef;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
a,
a:visited {
  color: #d2f8ef;
  font-weight: 700;
}
