canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.net {
  height: 100%;
  margin: 0;
}
.node {
  stroke: rgba(29, 184, 150, 0.7);
  stroke-width: 3px;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
  fill: #0e5c50;
}
.node.selected {
  stroke: #caa455;
}
.node.pinned {
  stroke: rgba(190, 56, 93, 0.6);
}
.link {
  stroke: rgba(18, 120, 98, 0.3);
}
.link,
.node {
  stroke-linecap: round;
}
.link:hover,
.node:hover {
  stroke: rgba(29, 184, 150, 0.7);
  stroke-width: 2px;
}
.link.selected {
  stroke: rgba(202, 164, 85, 0.6);
}
.curve {
  fill: none;
}
.link-label,
.node-label {
  fill: rgba(29, 184, 150, 0.7);
  font-weight: 800;
}
.link-label {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  text-anchor: middle;
}
.label-federated {
  fill: #d2f8ef !important;
}
