<template>
  <div id="app">
    <h1>Lemmymap - a lemmy federation map</h1>
    <Preloader v-if="loading"></Preloader>
    <d3-network
      v-else
      :net-nodes="nodes"
      :net-links="links"
      :options="options"
    />
    <div v-show="requestError" v-text="requestError"></div>
    <div>
      <a href="https://join-lemmy.org" target="_blank">Join Lemmy!</a>
    </div>
    <div v-if="!loading">
      <div>
        {{ instances.total_users }} lemmies are living on
        {{ instances.crawled_instances }} instances
      </div>
      <div>last update: {{ instances.updated }}</div>
    </div>
  </div>
</template>

<script>
import Preloader from "./components/Preloader.vue";
import D3Network from "vue-d3-network";
import options from "./options.json";

export default {
  name: "App",
  components: {
    Preloader,
    D3Network
  },
  data() {
    return {
      jsonURL: "https://lemmymap.feddit.de/instances.json",
      loading: true,
      requestError: "",
      instances: {},
      nodes: [],
      links: [],
      options
    };
  },
  created() {
    this.fetchData().then(() => {
      this.getNodes();
      this.getLinks();
    });
  },
  methods: {
    fetchData() {
      return fetch(this.jsonURL, {
        method: "get",
        headers: new Headers({
          "Content-Type": "application/json"
        })
      })
        .then((response) => response.json())
        .then((data) => {
          this.instances = data;
          this.loading = false;
        })
        .catch(console.warn);
    },
    getNodes() {
      this.instances.instance_details.forEach((i) => {
        this.nodes.push({
          name: i.domain,
          id: i.domain,
          _size: 20 + i.linked_instances_count
        });
      });
    },
    getLinks() {
      // get links for linked instances
      this.instances.instance_details.forEach((i) => {
        i.linked_instances.forEach((l) => {
          if (this.nodes.find((n) => n.name == l)) {
            this.links.push({
              tid: l,
              sid: i.domain
            });
          }
        });
      });
      this.instances.instance_details.forEach((i) => {
        // get links for blocked instances
        if (i.blocked_instances) {
          i.blocked_instances.forEach((b) => {
            if (this.nodes.find((n) => n.name == b)) {
              this.links.push({
                tid: b,
                sid: i.domain,
                _color: "darkred"
              });
            }
          });
        }
        // get links for allowed instances
        if (i.allowed_instances) {
          i.allowed_instances.forEach((b) => {
            const node = this.nodes.find((n) => n.name == b);
            if (node && this.isFederated(i.domain, b)) {
              this.links.push({
                tid: b,
                sid: i.domain,
                _color: "darkgreen"
              });
              node._color = "aquamarine";
              node._labelClass = "label-federated";
            }
          });
        }
      });
    },
    isFederated(instanceA, instanceB) {
      const a = this.instances.instance_details.find(
        (i) => i.domain == instanceA
      );
      const b = this.instances.instance_details.find(
        (i) => i.domain == instanceB
      );
      if (
        a.allowed_instances &&
        b.allowed_instances &&
        a.allowed_instances.find((i) => i == instanceB) &&
        b.allowed_instances.find((i) => i == instanceA)
      ) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style>
@import "./css/app.css";
@import "./css/network.css";
</style>
